<h1>Users</h1>
<table class=”table”>
  <%= for user <- @users do %>
    <tr>
      <td><%= user.email %> 
      (<%= link "View", to: user_path(@conn, :show, user) %>)
      </td>    
    </tr>
  <% end %>
</table>