
<footer class="responsive-blog-footer row">
  <hr>
  <h4> The Journal of Open Data</h4>
          <p>A platform for the researchers to preserve and let others make use of their professionally archived data.</p>
          <a href="https://github.com/Vigneshsekar/open-data-journal">GitHub Link</a>
</footer>

