<%= if @current_user do %>
<li>
    <%= link "Sign out", to: session_path(@conn, :delete, @current_user),
                            method: "delete" %>
</li>
<% else %>
  <li><%= link "Create new account", to: user_path(@conn, :new),
      class: "" %></li>
  <li><%= link "Sign in", to: session_path(@conn, :new),
      class: "" %></li>
<% end %>