<%= if logged_in?(@conn) do %>
  <li><%= link to: session_path(@conn, :delete, :access), 
                       method: :delete, class: "waves-effect waves-teal btn-flat" do %>
       Sign Out
      <% end %>
  </li>

<% else %>
  <li><%= link "Create new accouunt", to: user_path(@conn, :new),
      class: "btn" %></li>
  <li><%= link "Sign in", to: session_path(@conn, :new),
      class: "btn" %></li>
<% end %>