<%= if logged_in?(@conn) do %>
  <%= link "Sign out", to: session_path(@conn, :delete, :access),
      method: :delete, class: "btn btn-danger" %>
  <div>
    <%= current_user(@conn).email %>
  </div>

<% else %>
  <%= link "Create new accouunt", to: user_path(@conn, :new),
      class: "btn btn-danger" %>
  <%= link "Sign in", to: session_path(@conn, :new),
      class: "btn btn-danger" %>
<% end %>