
.top-bar, .top-bar ul {
  background-color: white;
}

.site-banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

$menu-underline-from-center-bg: white;
$menu-underline-from-center-border-thickness: 0.125rem;

.hover-underline-menu {
  width: 100%;

  .menu {
    background-color: $menu-underline-from-center-bg;

    a {
      color: #2C3840;;
      padding: 1.2rem 1.5rem;
    }

    .underline-from-center {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - #{$menu-underline-from-center-border-thickness});
        border-bottom: $menu-underline-from-center-border-thickness solid #2C3840;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }

      &:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  }
}

//Footer styles begins

$highlight: $primary-color;

.responsive-blog-footer {
  background: #fff;
  color: #2C3840;
  width:100%;
  max-height: 250px;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $dark-gray;
  }

  .about-section, .tag-section {
    margin-bottom: 2rem;

    a {
      color: $highlight;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}

//Alert Scss begins here.

$alert-callout-subtle-border-left-width: rem-calc(5);
$alert-callout-subtle-radius: 0.6rem;
$alert-callout-subtle-large-font-scale: 150%;
$alert-callout-subtle-small-font-scale: 80%;

.alert-callout-subtle {
  width: 50%;
  align-content: center;
  background: $light-gray;
  color: $dark-gray;
  border: 0;
  border-left: $alert-callout-subtle-border-left-width solid $dark-gray;
  box-shadow: 0 5px 8px -6px rgba(0,0,0, 0.2);

  &.success {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $success-color;
  }

  &.alert {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $alert-color;
  }

  &.warning {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $warning-color;
  }

  &.primary {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $primary-color;
  }

  &.small {

    font-size: $alert-callout-subtle-small-font-scale;

    .close-button {
      font-size: 1.5rem;
    }
  }

  &.large {
    font-size: $alert-callout-subtle-large-font-scale;

    .close-button {
      font-size: 3rem;
    }
  }

  .close-button {
    font-size: 2rem;
    @include vertical-center;
  }

  &.radius {
    border-radius: $alert-callout-subtle-radius;
  }
}

// Login box
form {
  .form-icons {
    text-align: center;

    h4 {
      margin-bottom: 1rem;
    }

    .input-group-label {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    .input-group-field {
      border-color: $primary-color;
    }

    .fa {
      color: white;
      width: 1rem; // makes the width of icon labels equal
    }
  }
}

// Submissions list






