<h2>Edit submission</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_submission_path(@conn, :update, @user, @submission) %>

<%= link "Back", to: user_submission_path(@conn, :index, @user) %>
